/* 
    Created on : Feb 27, 2017, 4:33:15 PM
    Author     : tliss
*/

* {
    font-family: verdana, "lucida grande", arial, sans-serif;
}

table#t01{
    text-align:center; 
    margin-left:auto; 
    margin-right:auto;
}

.images {
    text-align:center;
}

html, body {
    background-color: #D1D1E1;
    padding: 0px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: #071e57;
    color: white;
}

.codeStyle {
    font-family: monospace;
    background:#a4a4a5;
}

.fiddleDiv {
    width: auto;
    margin-left:auto; 
    margin-right:auto;
}

#openBar {
    font-size:30px;
    font-weight: bold;
    border: 2px solid #071e57;
    color: #071e57;
    background-color: #ffba63;
    border-radius: 10px; 
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 3px;
    transition: 0.3s;
    position: fixed;
    margin-left: -9em;
    margin-top: .5em;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    color: #071e57;
    margin: 0px;
    text-align: center;
}

h3 {
    color: #071e57;
    padding-left: 2em;
    font-style: italic;
}

h2 {
    color: #071e57;
}

h3 + p{
    padding-left: 2em;
}

h3 + p + ul {
    padding-left: 6em;
}

ol {
    padding-left: 6em;
}

p {
    margin-left: 2em;
}

/*****
* Quote formatting code below taken and modified from http://stackoverflow.com/questions/16325687/make-big-quotes-with-blockquote
*****/

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 85%;
margin: 0.25em 0;
padding: 0.35em 40px;
margin-left: 3em;
padding-top: 0px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote cite {
color: #7a7a7a;
font-size: 14px;
display: block;
margin-top: 5px;
margin-left: 3em;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

/*****
* Side bar code below taken and modified from https://www.w3schools.com/howto/howto_js_sidenav.asp
*****/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    padding-left: 20em;
    padding-right: 20em;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 800px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    #main {padding-left: 0em;
           padding-right: 0em;
           padding: 0px;
    }
    blockquote {font-size: 14px;
                padding-left: 0em;
    }
    img{width:70%;
            height: auto;
    }
    h1{font-size: 40px;}
    h2{font-size: 20px;}
}

.divLinkContainer {
    border-radius: 4px;
    background-color: #ffba63;
    border: 2px solid #071e57;
    color: #071e57;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}
.divLink{
    text-decoration: none;
}

/**********************
*Button code taken and modified from:https://www.w3schools.com/css/css3_buttons.asp
**********************/

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ffba63;
  border: 2px solid #071e57;
  color: #071e57;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
  float:right;
  margin-bottom: 20px;
}

.request{
    font-weight: bold;
    text-align: center;
    font-size: 13px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonPrevious span:before {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -15px;
  transition: 0.5s;
}

.buttonNext span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.buttonNext:hover span {
  padding-right: 15px;
}

.buttonNext:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonPrevious:hover span {
  padding-left: 15px;
}

.buttonPrevious:hover span:before {
  opacity: 1;
  left: 0;
}